<div id="{{prefix}}" class="modal big hidden">
    <h1 class="modal-title">Профиль</h1>
    <form id="{{prefix}}-form">
        <img alt="Аватар профиля" style="width:200px;border-radius: 50%;height: auto; margin: 0 auto;" src="https://thispersondoesnotexist.com/image"/>
    {{#unless readonly}}
        {{#profile_fields}}
            <label>{{label}}</label>
            <input type="{{type}}" name="{{name}}" placeholder="{{label}}" value="{{value}}"/>
        {{/profile_fields}}
        <input type="submit" value="Сохранить"/>
        <input type="cancel" value="Отмена"/>
    {{else}}
        {{#profile_fields}}
            {{#if show}}
            <div class="show-field">
                <span class="show-item left">{{label}}</span>
                <span class="show-item right">{{value}}</span>
            </div>
            {{/if}}
        {{/profile_fields}}
    {{/unless}}
    </form>
</div>
