<dialog id="{{prefix}}" class="modal big">
    <header class="modal-title">
        <h3>Профиль</h3>
        <i onclick="closeDialog(event)" class="modal-close">&times;</i>
    </header>
    <form id="{{prefix}}-form">
        <img alt="Аватар профиля" style="width:200px;border-radius: 50%;height: auto; margin: 0 auto;" src="https://thispersondoesnotexist.com/image"/>
    {{#unless readonly}}
        {{#profile_fields}}
            <fieldset>
                <label>{{label}}</label>
                <input type="{{type}}" name="{{name}}" placeholder="{{label}}" value="{{value}}"/>
            </fieldset>
        {{/profile_fields}}
    {{else}}
        {{#profile_fields}}
            {{#if show}}
            <fieldset class="show-field">
                <span class="show-item left">{{label}}</span>
                <span class="show-item right">{{value}}</span>
            </fieldset>
            {{/if}}
        {{/profile_fields}}
    {{/unless}}
    </form>
    {{#unless readonly}}
    <footer class="modal-footer">
        <input type="submit" value="Сохранить"/>
        <input type="reset" value="Отмена"/>
    </footer>
    {{/unless}}
</dialog>
